@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --primary-color: #14B8A6;
    --dark-gray: #6B7280;
}

hr{
    margin: 2rem 0rem;
}
/** container **/
.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

/** links **/

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/** look into BEM naming convention for CSS **/

/** lists **/

.list-non-bullet{
    list-style: none;
}

.list-inline-item{
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .link{
    color: white;
}

.navigation .link-active{
    font-weight: bold;
}

/** header **/

.hero{
    padding: 2rem;
}

.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    color: var(--dark-gray);
    padding-top: 1rem;
}

.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
}